/node_modules
node_modules
/.cache
.cache
.DS_Store
*.log
*.env
*.tmp
*.bak
*.swp
*.pid
*.pid.lock
*.tgz


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic    n
next.js
.next
out